* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: get-color("dark");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  color: get-color("light-1");
}

input,
button,
a {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
  font-size: $font-size;
}

button,
a,
.TimeTable_autoJoinCheckBox {
  @include flex-center;
  background-color: get-color("dark-2-alpha");
  color: get-color("light");
  padding: get-padding("less") get-padding("default") * 2;
  &:hover {
    color: get-color("light-1");
  }
  i {
    pointer-events: none;
  }
}

input:not(input[type="checkbox"]),
textarea {
  background: get-color(dark-3-alpha);
  border: none;
  padding: get-padding(less) - 4px get-padding(less);
  color: get-color(light-1);
  font-size: $font-size;
  outline: none;
}

textarea {
  min-height: $minHeight-textarea;
}

// toggle switch

input[type="checkbox"] {
  --width: 32px;
  position: relative;
  margin-left: get-margin(less);
  height: calc(var(--width) / 2);
  width: var(--width);
  min-width: var(--width);
  cursor: pointer;
  border-radius: 20px;
  background-color: get-color("dark-3");
  box-shadow: inset 0 0 1px 1px rgba($color: #000000, $alpha: 0.2);
  appearance: none;

  &::after {
    content: "";
    left: 0;
    height: calc(var(--width) / 2);
    width: calc(var(--width) / 2);
    transform: scale(0.9);
    border-radius: 50%;
    position: absolute;
    background-color: get-color("dark-1-alpha");
  }

  &:checked {
    background: get-color("light");
    &::after {
      left: calc(var(--width) / 2);
    }
  }
}
