@function get-color($colorName) {
  @return map-get($colors, $colorName);
}
@function get-padding($colorName) {
  @return map-get($paddings, $colorName);
}
@function get-margin($colorName) {
  @return map-get($margins, $colorName);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin round-button {
  padding: 0;
  height: $roundedButton;
  width: $roundedButton;
  border-radius: 50%;
  font-size: $font-size - 2px;
  box-shadow: $box-shadow-light;
}
