$colors: (
  "dark": rgb(20, 20, 20),
  "dark-black-alpha": rgba(20, 20, 20, 0.8),
  "dark-1": rgb(24, 24, 24),
  "dark-1-alpha": rgba(24, 24, 24, 0.8),
  "dark-2": rgb(32, 32, 32),
  "dark-2-alpha": rgba(32, 32, 32, 0.8),
  "dark-3": rgb(52, 52, 52),
  "dark-3-alpha": rgba(52, 52, 52, 0.4),
  "light": rgb(184, 184, 184),
  "light-1": rgb(249, 249, 249),
);
$paddings: (
  "less": 10px,
  "default": 18px,
);
$margins: (
  "v-less": 6px,
  "less": 12px,
  "default": 18px,
);

$minHeight-nav: 3rem;
$minHeight-textarea: 8rem;
$maxWidth-modal: 28rem;
$maxWidth-classContainer: 30rem;

$transitionDuration-less: 100ms;
$transitionDuration: 200ms;
$transitionDuration-slow: 400ms;

$roundedButton: 36px;

$font-size: 16px;

$blur-default: 24px;

$box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
$box-shadow-1: 0 0 32px rgba(0, 0, 0, 0.8);
$box-shadow-light: 0 0 6px rgba(0, 0, 0, 0.4);

// fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
