@import "./variabels";
@import "./functions";
@import "./defaults";
@import "./navbar";
@import "./table";
@import "./modal";
@import "./note";
@import "./contextMenu";
@import "./classInfo";
@import "./responsive";

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  padding: $minHeight-nav - 1rem;
}

.mobile-view-table {
  display: none;
}

@media (max-width: 1200px) {
  header {
    display: none;
  }
  .mobile-view-table {
    display: block;
  }
  body {
    main {
      min-height: 18rem;
      .class-container {
        grid-row: 1/-1;
      }
    }
    table {
      display: none;
    }
  }
}
