@import "./variabels";
@import "./functions";
@import "./defaults";
@import "./navbar";
@import "./table";
@import "./modal";
@import "./note";
@import "./contextMenu";
@import "./classInfo";
@import "./responsive";

main {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  place-items: center;
  max-height: $maxWidth-classContainer * 2;
}

//scrolbar

// ::-webkit-scrollbar {
//   width: 8px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgba($color: #fff, $alpha: 0.2);
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
body,
.popup-content {
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($color: #fff, $alpha: 0.2);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.popup-content {
  &::-webkit-scrollbar {
    width: 12px;
  }
}

@media (max-width: 1200px) {
  header {
    display: none;
  }
  .mobile-view-table {
    display: block;
  }
  body {
    overflow: auto;
    main {
      min-height: 18rem;
      flex: 0;
      .class-container {
        grid-row: 1/-1;
      }
    }
    table {
      display: none;
    }
  }
}
