@import "./variabels";
@import "./functions";
@import "./defaults";
@import "./navbar";
@import "./table";
@import "./modal";
@import "./note";
@import "./contextMenu";
@import "./classInfo";

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  padding: $minHeight-nav - 1rem;
}
