@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --default-margin: 18px;
  --default-padding: 18px;
  --text-size: 18px;
  --border-radius: 0px;
  --border-radius2: 0px;
  --less-padding: 10px;
  --dark-black: rgb(20, 20, 20);
  --dark-black-alpha: rgba(20, 20, 20, 0.8);
  --light-dark-black: rgb(32, 32, 32);
  --light-black2: rgb(43, 43, 43);
  --light-black: rgb(77, 77, 77);
  --light2: rgb(184, 184, 184);
  --light: rgba(249, 249, 249, 1);
}

body {
  background-color: var(--dark-black);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

body main {
  min-height: 50%;
  width: 100%;
}

body header {
  height: 50%;
}

input,
button,
a {
  outline: none;
}

a {
  text-decoration: none;
}

button,
a {
  background-color: var(--light-black2);
  color: var(--light2);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
}

button:hover,
a:hover {
  background-color: var(--light-black);
  color: var(--light);
}

input[type="checkbox"] {
  --width: 30px;
  position: relative;
  height: calc(var(--width) / 2);
  width: var(--width);
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--light-black);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="checkbox"]::after {
  content: "";
  left: 0;
  height: calc(var(--width) / 2);
  width: calc(var(--width) / 2);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  border-radius: 50%;
  position: absolute;
  background-color: var(--light-black2);
}

input[type="checkbox"]:checked {
  background: white;
}

input[type="checkbox"]:checked::after {
  left: calc(var(--width) / 2);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.edit-modal {
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 0%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 1;
  padding: var(--default-padding);
  background-color: grey;
  z-index: 10;
  max-width: 24rem;
  background-color: var(--light-dark-black);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.edit-modal form label {
  font-size: calc(var(--text-size) - 4px);
  color: var(--light2);
}

.edit-modal form input,
.edit-modal form textarea {
  width: 100%;
  background: var(--light-black2);
  margin: 4px;
  border: none;
  padding: 4px 6px;
  color: var(--light);
  font-size: var(--text-size);
  outline: none;
  border-radius: var(--border-radius);
}

.edit-modal form textarea {
  min-height: 8rem;
}

.edit-modal input,
.edit-modal label,
.edit-modal button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.edit-modal .control-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: var(--default-padding);
}

.edit-modal .control-btns button {
  margin-top: var(--default-padding);
  padding: 4px var(--default-padding);
  font-size: var(--text-size);
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
}

.edit-modal.display {
  opacity: 0;
  pointer-events: none;
  top: -15%;
}

.edit-modal.display label,
.edit-modal.display input,
.edit-modal.display button,
.edit-modal.display textarea {
  opacity: 0;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.note-delete-btn.display {
  display: none;
}

.note-input {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 5rem;
  max-height: 80vh;
  font-size: calc(var(--text-size) - 1px);
}

.note-delete-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(255, 0, 0, 0.3);
}

header {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .timeTableCloser {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border-width: 0px;
  z-index: 999;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}

header .timeTableCloser i {
  font-size: var(--text-size);
}

header .timeTableCloser * {
  pointer-events: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  opacity: 1;
  border-radius: 0 0 0 0%;
  pointer-events: all;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

table.timeTableClosed {
  opacity: 0;
  border-radius: 0 0 0 100%;
  overflow: hidden;
  pointer-events: none;
}

table td {
  border: 1px solid transparent;
  padding: var(--less-padding) var(--default-padding);
  margin: 0 var(--default-margin);
  background: var(--light-black2);
  position: relative;
}

table td.ongoing-active::after,
table td.upcoming-active ::after {
  content: "";
  top: 4px;
  left: 4px;
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 50%;
}

table td.ongoing-active::after {
  background: red;
}

table td.upcoming-active ::after {
  background: #8fff8f;
}

table td.autoJoin-active::after {
  content: "";
  bottom: 4px;
  left: 4px;
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #3056ff;
}

table td.note-added::before {
  --border-size: 3px;
  content: "";
  position: absolute;
  bottom: 0px;
  right: 2px;
  width: 0px;
  height: 0px;
  border-top: var(--border-size) solid transparent;
  border-bottom: var(--border-size) solid transparent;
  border-left: var(--border-size) solid red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

table td p {
  padding: 0 var(--less-padding);
  font-size: var(--text-size);
  pointer-events: none;
}

table td * {
  pointer-events: none;
}

table td span {
  pointer-events: none;
}

table td.subjectBox {
  overflow: hidden;
  border: 1px solid transparent;
}

table td.subjectBox:hover {
  cursor: pointer;
}

table td .liveClassProgress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

table td .liveClassProgress .liveProgressBar {
  height: 100%;
  background: red;
}

table .noClassBox {
  background: var(--light-dark-black);
  border-bottom: 0;
}

table .timeBox,
table .dayBox {
  background: var(--light-dark-black);
}

table .timeBox:hover,
table .dayBox:hover {
  background: var(--light-dark-black);
  cursor: initial;
}

table .timeBox {
  border-right: 0;
}

table #emptyTableBox {
  background: var(--dark-black);
  border: 1px solid var(--dark-black);
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

table .dayBox {
  border-bottom: 0;
}

table .dayBox p {
  display: inline-block;
}

table .dayBox .timeTable_day_definer {
  font-size: var(--text-size);
}

.class-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  max-width: 30rem;
  margin: auto;
}

.class-container .info-view-popup {
  position: absolute;
  top: -60px;
  right: 0;
  min-width: 100%;
  max-width: 40rem;
  background: var(--light);
  color: var(--dark-black);
  padding: var(--default-padding);
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-box-shadow: 0 0px 16px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 16px rgba(0, 0, 0, 0.4);
}

.class-container .info-view-popup .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  overflow: hidden;
}

.class-container .info-view-popup .info-container p {
  overflow: hidden;
  font-size: calc(var(--text-size) - 4px);
  font-weight: normal;
  opacity: 0;
  text-overflow: ellipsis;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 500ms ease-in-out, -webkit-transform 400ms ease-in-out;
  transition: opacity 500ms ease-in-out, -webkit-transform 400ms ease-in-out;
  transition: opacity 500ms ease-in-out, transform 400ms ease-in-out;
  transition: opacity 500ms ease-in-out, transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.class-container .info-view-popup .info-container span {
  text-overflow: ellipsis;
  font-size: var(--text-size);
  margin-right: var(--default-padding);
}

.class-container .class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--light-black2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: var(--default-margin);
  border-radius: var(--border-radius2);
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.class-container .class .class-wraper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 4px 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 0 4px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.class-container .class .class-wraper .time-container {
  background: var(--light-black2);
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 var(--default-padding);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(var(--text-size) - 4px);
  color: var(--light2);
  border-radius: var(--border-radius2);
}

.class-container .class .class-wraper .class-subject {
  background: var(--light-dark-black);
  padding: var(--less-padding) var(--default-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: var(--border-radius2) 0 0 var(--border-radius2);
}

.class-container .class .class-wraper .class-subject .view-btn:hover .info-view-popup {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  pointer-events: all;
}

.class-container .class .class-wraper .class-subject .view-btn:hover .info-view-popup p {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.class-container .class .class-wraper .text-wraper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: calc(var(--text-size) * 1.3);
}

.class-container .class .class-wraper button {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border-width: 0px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class-container .class .class-wraper button:hover {
  background: var(--light-black2);
}

.class-container .class .class-wraper button i {
  font-size: var(--text-size);
  pointer-events: none;
}

.class-container .class .join-link {
  background: var(--light-black);
  height: 100% !important;
  text-align: center;
  border-radius: 0 var(--border-radius2) var(--border-radius2) 0 !important;
  overflow: hidden;
}

.class-container .class .join-link a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(var(--text-size) * 1.3);
  padding: 0 var(--default-padding);
  text-decoration: none;
  color: var(--light);
}

.custom_contextMenu {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--less-padding) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: calc(var(--border-radius2) - 6px);
  background-color: var(--light-black2);
  opacity: 0;
  pointer-events: none;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0px 8px rgba(0, 0, 0, 0.6);
}

.custom_contextMenu.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.custom_contextMenu .topContextMenu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.custom_contextMenu a {
  text-align: center;
  width: 100%;
  padding: var(--less-padding) calc(var(--default-padding) * 2);
  font-size: calc(var(--text-size) - 1px);
}

.custom_contextMenu .middleContexMenu_container {
  width: 100%;
  padding: var(--less-padding);
  border-top: 1px solid var(--dark-black);
}

.custom_contextMenu .middleContexMenu_container .TimeTable_autoJoinCheckBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_contextMenu .middleContexMenu_container label {
  font-size: calc(var(--text-size) - 1px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--light2);
  margin-left: var(--less-padding);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
}

.custom_contextMenu .middleContexMenu_container label:hover {
  color: var(--light);
}

.note-view {
  position: absolute;
  top: 0;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--border-radius);
  max-width: 20vw;
  -webkit-box-shadow: 0 0px 16px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0px 16px rgba(0, 0, 0, 0.8);
  background: var(--light-dark-black);
  opacity: 0;
  pointer-events: none;
  z-index: 22;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.2s ease-in-out;
  transition: transform 0.1s ease-out, opacity 0.2s ease-in-out, -webkit-transform 0.1s ease-out;
}

.note-view p {
  opacity: 0;
  width: 100%;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  font-size: calc(var(--text-size) - 2px);
  padding: var(--default-padding);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.note-view.active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
  pointer-events: all;
}

.note-view.active p {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.mobile-view-table {
  width: 100%;
  display: none;
}

.mobile-view-table .day-container {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 9999;
  margin: 0;
  outline: none;
  padding: var(--less-padding);
  background: var(--dark-black-alpha);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-view-table .day-container span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-view-table .day-container button {
  border: none;
  opacity: 0.7;
  padding: var(--less-padding) calc(var(--default-padding) * 1.5);
}

.mobile-view-table .class-container {
  max-width: 100%;
}

.mobile-view-table .class-container .class {
  margin: var(--less-padding);
  width: 100%;
}

.mobile-view-table .class-container .class .time-container {
  font-size: calc(var(--text-size) - 4px);
}

.mobile-view-table .class-container .class .class-subject {
  border-top-left-radius: 0;
}

.mv-popup-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999999;
  background-color: var(--dark-black-alpha);
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  padding: var(--default-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mv-popup-modal-container.mv-none {
  display: none;
}

.mv-popup-modal-container button {
  padding: var(--less-padding);
  border: none;
}

.mv-popup-modal-container .popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--less-padding);
  margin-bottom: var(--less-padding);
  border-bottom: 2px solid var(--dark-black-alpha);
}

.mv-popup-modal-container .popup-header button {
  font-size: var(--text-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.mv-popup-modal-container .popup-header .popup-header-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mv-popup-modal-container .popup-header .popup-header-title p {
  font-size: calc(var(--text-size) * 1.2);
  font-weight: bold;
}

.mv-popup-modal-container .popup-content {
  padding: 0 var(--less-padding);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.mv-popup-modal-container .popup-content::-webkit-scrollbar {
  width: 8px;
}

.mv-popup-modal-container .popup-content::-webkit-scrollbar-track {
  background: transparent;
}

.mv-popup-modal-container .popup-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.mv-popup-modal-container .popup-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mv-popup-modal-container .popup-buttons {
  padding: var(--less-padding) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--less-padding);
}

.mv-popup-modal-container .popup-buttons button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: var(--less-padding) var(--default-padding);
}

.mv-popup-modal-container .edit-modal {
  position: static;
  min-width: 100%;
  overflow: hidden;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 1200px) {
  header {
    display: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .class-container {
    max-width: 100%;
    margin: 0 var(--less-padding);
  }
  .class-container .info-view-popup {
    top: -40px;
  }
  .mobile-view-table {
    display: block;
  }
  body main {
    min-height: 18rem;
  }
}
/*# sourceMappingURL=classes.css.map */